.boton{
    width: 80%;
    margin-left: 15%;
    margin-right: 5%;

}

.ButtonList{
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

.mannequinHome{
    background-color: rgb(255, 255, 255);
    height: 100vh;

}

.ropa{
    height: 100%;
}

.mannequinContainer{

    height: 60%;
    margin-top: 10%;
    
    
    width: 80%;
    margin-left: 10%;
}